.projects {
    position: relative;
    top: 0vh;
    width: 100%;
    padding-bottom:10vh;
    background-color: #F4F4F4;


    .header-container {
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
        margin-bottom: 5rem;
        .header {
            color: #1F2021;
            font-weight: 600;
            font-family: 'Lato', sans-serif;
            font-size: 160px;
        }
    }
    .card-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
        align-items: center;
        justify-items: center;

        .card1 {
            width: 30vw;
            color: #1F2021;
            font-family: 'Lato', sans-serif;
            line-height: 1.5rem;
            transition: .3s;
        }
        .line-break {
            display: none;
        }
        .card2 {
            width: 30vw;
            color: #1F2021;
            font-family: 'Lato', sans-serif;
            line-height: 1.5rem;
            transition: .3s;
    
            font-size: 10px;
        }
        .line-break2 {
            display: none;
        }
        .card3 {
            width: 30vw;
            color: #1F2021;
            font-family: 'Lato', sans-serif;
            line-height: 1.5rem;
            transition: .3s;
        }
        .card1:hover {
            box-shadow: -8px 22px 12px 2px;
            border-radius: 30px;
            cursor: pointer;
        }
        .card2:hover {
            box-shadow: -8px 22px 18px 2px;
            border-radius: 30px;
            cursor: pointer;
        }
        .card3:hover {
            box-shadow: -8px 22px 9px 2px;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .projects{  
        .card1 {
            font-size: 18px !important;
        }
        .card2 {
            font-size: 18px !important;
        }
        .card3 {
            font-size: 18px !important;
        }
    }
}

@media (max-width: 900px) {
    .projects {
        .card-container {
            .card1 {
                width: 55vw;
                font-size: 32 !important;
            }
            .line-break {
                display: flex;
                width: 55vw;
            }
            .card2 {
                width: 55vw;
            }
            .line-break2 {
                display: flex;
                width: 55vw;
            }
            .card3 {
                width: 55vw;
            }
        }


    }
}
@media (max-width: 668px) {
    .projects{
        .header-container {
            .header {
                font-size: 85px;
            }
        }
        .card-container {
            .card1 {
                width: 75vw;
                font-size: 32 !important;
            }
            .line-break {
                display: flex;
                width: 65vw;
            }
            .card2 {
                width: 75vw;
            }
            .line-break2 {
                display: flex;
                width: 65vw;
            }
            .card3 {
                width: 75vw;
            }
        }
    }
}

@media (max-width: 375px) {
    .projects{
        .header-container {
            margin-bottom: 0vh;
            .header {
                font-size: 65px;
                
            }
        }
        .card-container {
            margin-left: -7vh;
            .card1 {
                width: 75vw;
                font-size: 32 !important;
                margin-left: 0vh;
            }
            .line-break {
                display: flex;
                width: 65vw;
            }
            .card2 {
                width: 75vw;
            }
            .line-break2 {
                display: flex;
                width: 65vw;
            }
            .card3 {
                width: 75vw;
            }
        }
    }
}