.landing {
    width: 100%;
    height: 100vh;
    background-color: #1F2021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    .header {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .header-container {
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .line-break {
                display: flex;
                margin: 0 auto;
                width: 40vw;
            }
            .header1 {
                color: #f4f4f4;
                font-weight: 500;
                font-size: 75px;
                margin: 0 auto;
            }
            .header2 {
                color: #f4f4f4;
                font-weight: 500;
                font-size: 40px;
                margin: 0 auto;
            }
        }
        .header-button {
                display: flex;
                align-self: center;
                justify-content: center;
               
                border: 2px solid #f4f4f4; 
                border-radius: 1rem;

                padding: 1.5rem;
                transition: .5s;
                z-index: 10000;
                cursor: pointer;
                a {
                    font-weight: 400;
                    color: #f4f4f4;
                    font-size: 2rem;
                    text-decoration: none;
                }
            }
        .header-button:hover {
            color: #1f2021;
            background: #f4f4f4;
            a {
                color: #1f2021;
            }
        }

    }

    .button-container {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width: 100vw;
        top: 85vh;
        z-index: 1000;
        border-width: 0px;
        padding-top: 5vh;
        .resume-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 10vh;
            width: 25vw;
        }
        .contact-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 10vh;
            width: 25vw;
        }
        .projects-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 10vh;
            width: 25vw;
        }
        .logo-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 25vw;
            height: 10vh;
            img {
                margin-top: 1rem;
                height: 40%;
            }
            :hover {
                cursor: pointer;
            }
        }
        #landing-button {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .button-content {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            height: 65%;
            align-content: center;
            color: #f4f4f4;

            font-weight: 400;
            font-size: 40px;
            padding: 0;
            border-radius: 2rem;
            border-color: #f4f4f4;
            transition: .5s;
        }
        #landing-button:hover {
            cursor: pointer;
            color: #1f2021;
            background: #f4f4f4;
        }
    }
    .scrolllock {
        position: fixed;
        width: 100vw;
        background: #1f2021;
        padding-top: 0vh 0;
        top: 0vh;
        #landing-button {
            border: 2px solid #f4f4f4;
        }
    }
}

@media (max-width: 1100px) {
    .landing {    
        .header {
            font-size: 200px;
        }
        .body {
            font-size: 35px;
        }
        .logo-container {
            height: 10vh;
            img {
                height: 30% !important;
            }
            :hover {
                cursor: pointer;
            }
        }
        .button-container {
            #landing-button {
                font-size: 2.5rem;
            }
        }
        .scrolllock {
            #landing-button {
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .landing {    
        .header {
            height: 30vh;
            margin-top: -25vh;
            font-size: 165px !important;
            .header-container {
                margin-left: 0;
                height: 15vh;
                .line-break {
                    display: flex;
                    margin: 0 auto;
                    width: 80vw;
                }
                .header1 {
                    color: #f4f4f4;
                    font-family: 'Lato', sans-serif;
                    font-weight: 500;
                    font-size: 3rem;
                    margin: 0 auto;
                }
                .header2 {
                    color: #f4f4f4;
                    font-family: 'Lato', sans-serif;
                    font-weight: 500;
                    font-size: 2rem;
                    margin: 0 auto;
                }
            }
            .header-buttons {
                height: 0vh;
                margin: auto;
                .header-button {
                    font-family: 'Lato', sans-serif;
                    font-weight: 600;  
                    font-size: 1.2rem !important;
                    color: #1f2021;
                    background: #f4f4f4;
                    border-radius: 10px;
                    border-style: outset;

                }
            }
        }
        .button-container {
            #landing-button {
                font-size: 2rem;
            }
            .logo-container {
                width: 10vw !important;
            }
        }
        .button-icon {
            display: none !important;
        }
    }
}

@media (max-width: 440px) {
    .landing {
        height: 100vh;
        grid-template-rows: repeat(3, minmax(120px, 1fr));
        .button-container {
            width: 100vw;
            top: 70vh;
            #landing-button {
                width: 80%;
                .button-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                height: 65%;
                align-content: center;
                color: #f4f4f4;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                padding: 0;
                border-radius: 2rem;
                border-color: #f4f4f4;
                transition: .5s;
            }
        }
        .scrolllock {
            position: fixed;
            width: 100vw;
            background: #1f2021;
            padding-top: 0vh 0;
            top: 0vh;
            #landing-button {
                border: 2px solid #f4f4f4;
            }
        }
    }
}

@media (max-width: 320px) {
    .landing {    
        .header {
            margin-left: 0vh;
            font-size: 100px;
            .header-container {
                .header1 {
                    font-size: 2.5rem;
                }
                .header2 {
                    font-size: 1.5rem;
                }
            }
            .header-buttons {
                .header-button {
                    font-size: 1rem !important;
                }
            }
        }
        .button-container{
            #landing-button{
                font-size: 1rem !important;
                border-radius: 1rem;
            }
        }    
    }
}
