.landing {
    top: 10vh;
    width: 100%;
    height: 100vh;
    background-color: #1F2021;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    
    .header-container {
        margin-left: 2rem;
        align-self: center;
        display: flex;
        justify-content: flex-start;  
        .header {
            color: #f4f4f4;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 165px;
        }
    }
    .body-container {
        margin-left: 3rem;
            .body {
            display: flex;
            flex-direction: column;
            color: #f4f4f4;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            font-size: 35px;
            line-height: 1.5em; 
        }
    }
    .button-container {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width: 100vw;
        top: 85vh;
        z-index: 1000;
        border-width: 0px;
        padding-top: 5vh;
        .resume-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 10vh;
            width: 25vw;
        }
        .contact-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 10vh;
            width: 25vw;
        }
        .projects-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 10vh;
            width: 25vw;
        }
        .logo-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 25vw;
            height: 10vh;
            img {
                margin-top: 1rem;
                height: 40%;
            }
            :hover {
                cursor: pointer;
            }
        }
        #landing-button {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .button-content {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            height: 65%;
            align-content: center;
            color: #f4f4f4;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 40px;
            padding: 0;
            border-radius: 2rem;
            border-color: #f4f4f4;
            transition: .5s;
            
        }
        #landing-button:hover {
            cursor: pointer;
            color: #1f2021;
            background: #f4f4f4;
        }
    }
    .scrolllock {
        position: fixed;
        width: 100vw;
        background: #1f2021;
        padding-top: 0vh 0;
        top: 0vh;
        #landing-button {
            border: 2px solid #f4f4f4;
        }
    }
}

@media (max-width: 1100px) {
    .landing {    
        .header {
            font-size: 200px;
        }
        .body {
            font-size: 35px;
        }
        .logo-container {
            height: 10vh;
            img {
                height: 30% !important;
            }
            :hover {
                cursor: pointer;
            }
        }
        .button-container {
            #landing-button {
                font-size: 2.5rem;
            }
        }
        .scrolllock {
            #landing-button {
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .landing {    
        .header {
            font-size: 165px !important;
        }
        .body-container {
            width: 90vw;
            .body {
                font-size: 35px;
            }
        }
        .button-container {
            #landing-button {
                font-size: 2rem;
            }
            .logo-container {
                width: 10vw !important;
            }
        }
        .button-icon {
            display: none !important;
        }
    }
}

@media (max-width: 440px) {
    .landing {
        height: 90vh;
        .header-container {
            margin-left: 2.5rem;
            .header {
                font-size: 100px !important;
            }
        }
        .body-container {
            .body {
                width: 90%;
                font-size: 18px;
            }
        }
        .button-container {
            width: 100vw;
            top: 75vh;
            #landing-button {
                width: 80%;
                .button-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                height: 65%;
                align-content: center;
                color: #f4f4f4;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                padding: 0;
                border-radius: 2rem;
                border-color: #f4f4f4;
                transition: .5s;
            }
        }
        .scrolllock {
            position: fixed;
            width: 100vw;
            background: #1f2021;
            padding-top: 0vh 0;
            top: 0vh;
            #landing-button {
                border: 2px solid #f4f4f4;
            }
        }
    }
}

@media (max-width: 320px) {
    .landing {    
        .header-container {
            margin-left: 1.5rem;
            .header {
                margin-left: 0vh;
                font-size: 100px;
            }
        }
        .body-container {
            margin-left: 5vh;
            .body {
                font-size: 16px;
            }
        }
        .button-container{
 
            #landing-button{
                font-size: 1rem !important;
                border-radius: 1rem;
            }

        }

        
    }
}
