.landing {
    top: 10vh;
    width: 100%;
    height: 100vh;
    background-color: #1F2021;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    align-items: top;

    .header-container {
        margin-left: 2rem;
        align-self: center;
        .header {
            display: flex;
            justify-content: flex-start;  
            color: #f4f4f4;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 165px;
        }
    }
    .body-container {
        margin-left: 3rem;
        align-self: start;
            .body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: #f4f4f4;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            font-size: 35px;
            line-height: 1.5em; 
        }
    }
    .button-container {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width: 100vw;
        top: 85vh;
        z-index: 1000;
        border-width: 0px;
        padding-top: 5vh;
        .resume-button {
            height: 10vh;
        }
        .contact-button {
            height: 10vh;
        }
        .projects-button {
            height: 10vh;
        }
        #landing-button-1 {
            height: 10vh;
            width: 20vw;
            color: #f4f4f4;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 40px;
            padding: 0;
            
        }
        #landing-button-1:hover {
            color: #1f2021;
        }
        #landing-button-1:focus {
            color: #1f2021;
        }
    }
    .scrolllock {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        width: 100vw;
        height: 10vh;
        background: #1f2021;
        padding-top: 5vh;
        top: 0vh;
        z-index: 1000;
        border-width: 0px;

        .resume-button {
            height: 10vh;
        }
        .contact-button {
            height: 10vh;
        }
        .projects-button {
            height: 10vh;
        }
        #landing-button-1 {
            height: 10vh;
            width: 20vw;
            color: #f4f4f4;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 40px;
            border-radius: 40px;
            padding: 0;
            
        }
        #landing-button-1:hover {
            color: #e0e1e2;
            cursor: pointer;
        }
        #landing-button-1:focus {
            color: #1f2021;
            cursor: pointer;
        }
    }



}


@media (max-width: 1024px) {
    .landing {    
        .header-container {
            .header {
                font-size: 200px;
            }
        }
        .body-container {
            .body {
                font-size: 35px;
            }
        }
        .button-container {
            #landing-button-1 {
                height: 100px;
                width: 250px;
                color: #f4f4f4;
                font-weight: 400;
                font-size: 50px;
            }
            #landing-button-1:hover {
                color: #1f2021;
            }
            #landing-button-1:focus {
                color: #1f2021;
            }
        }

    }
}

@media (max-width: 768px) {

    .landing {    
        .header-container {
            .header {
                font-size: 165px;
            }
        }
        .body-container {
            width: 90vw;
            .body {
                font-size: 35px;
            }
        }
        .button-container {
            flex-direction: row;
            justify-content: space-evenly;
            #landing-button-1 {
                height: 75px;
                width: 150px;
                border-radius: 20px;
                color: #f4f4f4;
                font-weight: 400;
                font-size: 35px;
            }
            #landing-button-1:hover {
                color: #1f2021;
            }
            #landing-button-1:focus {
                color: #1f2021;
            }
        }

    }

}

@media (max-width: 440px) {
    .landing {    
        .header-container {
            margin-left: 2.5rem;
            .header {
                font-size: 120px;
                
            }
        }
        .body-container {
            width: 80vw;
            .body {
                font-size: 25px;
            }
        }
        .button-container {
            margin-top: 75px;
            margin-left: 5vw;
            width: 90vw;
            flex-direction: row;
            
            justify-content: space-evenly;
            #landing-button-1 {
                height: 50px;
                width: 100px;
                color: #f4f4f4;
                font-weight: 400;
                font-size: 22px;
                border: none !important;
                border-radius: 15px;
            }
            #landing-button-1:hover {
                color: #1f2021;
            }
            #landing-button-1:focus {
                color: #1f2021;
            }
        }

    }
}

@media (max-width: 320px) {
    .landing {    
        .header-container {
            margin-left: 1.5rem;
            .header {
                margin-left: 0vh;
                font-size: 100px;
            }
        }
        .body-container {
            margin-left: 5vh;
            .body {
                
                font-size: 20px;
            }
        }
        .button-container {
            margin-top: 20px;
            margin-left: 0vh;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100vw;
            #landing-button-1 {
                height: 45px;
                width: 90px;
                color: #f4f4f4;
                font-weight: 400;
                font-size: 20px;
                border: none !important;
                border-radius: 15px;
            }
            #landing-button-1:hover {
                color: #1f2021;
            }
            #landing-button-1:focus {
                color: #1f2021;
            }
        }

    }
}
