.skills {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    // display: grid;
    // grid-gap: 1rem;
    // grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    // align-items: center;

    .header-container {
        height: 20vh;
        padding-top: 5vh;
        margin-left: 5vw;
        .header {
            display: flex;
            justify-content: flex-start;
            color: #1F2021;
            font-weight: 600;
            font-family: 'Lato', sans-serif;
            font-size: 160px;
        }
    }
    #landing-button {
        height: 75px;
        width: 160px;
        color: #1f2021;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 30px;
        border-radius: 50px;
        box-shadow: -5px 5px 2px 1px;
        padding: 0;
        transition: .3s;
    }
    #landing-button:hover {
        color: #e0e1e2;
        background: #1f2021;
        box-shadow: 14px 14px 2px 2px #f4f4f4;
    }
    #ilanding-button {
        height: 75px;
        width: 160px;
        background-color: #1f2021;
        color: #f4f4f4;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 30px;
        border-radius: 50px;
        box-shadow: -5px 5px 2px 1px;
        padding: 0;
        transition: .3s;
    }
    #ilanding-button:hover {
        color: #1f2021;
        background: #f4f4f4;
        box-shadow: -5px 5px 2px 1px#1f2021;
    }

    // Languages
    .language-container {
        height:25vh;
        
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        .subheader-container1 {
            height: 10vh;
            .header {
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 80px;
            }
        }
        .language-buttons {
            width: 1024px;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            align-items: center;
            justify-items: center;
        }
    }
    // Frameworks
    .framework-container {
        margin-left: 5vw;
        height:25vh;
        display: flex;
        flex-direction: column;
        .subheader-container2 {
            height: 10vh;
            .header {
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 80px;
            }
        }
        .framework-buttons {
            width: 1024px;
            display: grid;
            margin-left: 3vw;
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            align-items: left;
            justify-items: left;
        }
    }

    // Technologies
    .technology-container {
        margin-left: 5vw;
        height:25vh;
        display: flex;
        flex-direction: column;
        .subheader-container3 {
            height:10vh;
            .header {
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 80px;
            }
        }
        .technology-buttons {
            width: 1024px;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            align-items: center;
            justify-items: center;
        }
    }
}

@media (max-width: 1024px) {
    .language-container {
        .language-buttons {
            width: 80vw !important;
        }
    }
    // Frameworks
    .framework-container {
        .framework-buttons {
            width: 80vw !important;
        }
    }
    // Technologies
    .technology-container {
        .technology-buttons {
            width: 80vw !important;
        }
    }
}
@media (max-width: 768px) {
    .skills {
        height: 110vh;
        
        .header-container {

            height: 20vh;
            .header {
            }
        }
        .language-container {

            margin-bottom: 5vh;
            .subheader-container1 {
                .header {
                    color: #1F2021;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                    font-size: 80px;
                }
            }
            .language-buttons {
               
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }
        }
        .framework-container {

            .subheader-container2 {
                .header {
                    color: #1F2021;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                    font-size: 80px;
                }
            }
            .framework-buttons {
               
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                align-items: left;
                justify-items: left;
            }
        }
        .technology-container {

            .subheader-container3 {
                .header {
                    font-weight: 400;
                    font-size: 80px;
                }
            }
            .technology-buttons {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }
        }
    }
}

@media (max-width: 600px) {
    .skills {
        #landing-button {
            height: 50px;
            width: 100px;
            font-size: 20px;
            padding: 0;
        }
        #landing-button:hover {
            box-shadow: 14px 14px 2px 2px #f4f4f4;
        }
        #ilanding-button {
            height: 50px;
            width: 100px;
            font-weight: 400;
            font-size: 20px;
            padding: 0;
            transition: .3s;
        }
        #ilanding-button:hover {
            box-shadow: -5px 5px 2px 1px#1f2021;
        }
        .header-container {
            height: 15vh;
            padding: 5vh 0;
        }
        // Languages
        .subheader-container1 {
            .header {
                color: #1F2021;
                font-weight: 600;
                font-family: 'Lato', sans-serif;
                font-size: 4rem !important;
            }
        }

        // Frameworks
        .subheader-container2 {
            .header {
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 4rem !important;
            }
        }

        // Technologies
        .subheader-container3 {
            .header {
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 4rem !important;
            }
        }
    }

}

@media (max-width: 440px) {
    .skills {     
        height: 120vh;   
        .header-container {
            margin-bottom: 5vh;
            .header {
                font-size: 85px;
                
            }
        }
        .language-container {
            .subheader-container1 {
                .header {
                }
            }
            .language-buttons {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
        }
        .framework-container {
            .subheader-container2 {
                .header {
                }
            }
            .framework-buttons {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

            }
        }
        .technology-container {
            .subheader-container3 {
                margin-bottom: 5vh;
                
                .header {
                }
            }
            .technology-buttons {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
        }
    }
}
@media (max-width: 400px) {
    .skills {        
        #landing-button {
            height: 50px;
            width: 90px;
            font-weight: 400;
            font-size: 20px;
            padding: 0;
            box-shadow: -1px 2px 2px 1px;
        }
        .language-container {
            .subheader-container1 {
                .header {

                }
            }
            .language-buttons {
                width: 100vw;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
        }
        .framework-container {
            .subheader-container2 {
                .header {
                }
            }
            .framework-buttons {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

            }
        }
        .technology-container {
            .subheader-container3 {
                .header {
                }
            }
            .technology-buttons {
                margin-left: 0vw;
                width: 100vw;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
        }
    }
}

@media (max-width: 340px) {
    .skills {
        height: 135vh;
        .header-container {
            padding-top: 50px;
            margin-bottom: 100px;
            .header {
                font-size: 100px;
            }
        }
        // Languages
        .subheader-container1 {
            margin-bottom: 20px;
            .header {
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 30px !important;
            }
        }

        // Frameworks
        .framework-container {
            .subheader-container2 {
                .header {
                    color: #1F2021;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                    font-size: 30px !important;
                }
            }
            .framework-buttons {
                margin-left: 10vw;
            }
        }


        // Technologies
        .subheader-container3 {
            .header {
                margin-bottom: 20px;
                color: #1F2021;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 30px !important;
            }
        }
    }

}

