.about {
    position: relative;
    top: 0vh;
    width: 100%;
    background-color: #1f2021;
    .about-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        .header-container {
            display: flex;
            justify-content: center;
            color: #f4f4f4;
            font-weight: 600;
            font-family: 'Lato', sans-serif;
            font-size: 10rem;
            padding: 10rem;

        }
        .body-container {
            padding: 3rem;
            margin: 5rem;
            border-radius: 2rem;
                .body {
                display: flex;
                flex-direction: column;
                color: #f4f4f4;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                font-size: 2.1rem;
                line-height: 1rem; 
            }
        }
    }
}


@media (max-width: 600px) {
    .about {
        .about-container {
            .header-container{
                font-size: 5rem;
                padding: 5rem;
            }
            .body-container {
                margin: 1rem;
                .body {
                    font-size: 1.5rem;
                }
        }
        
        }
    }
}
