// NavBar
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;

    .navbar-menu {
        margin-left: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.landing {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    background-color: #1F2021;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(5, 15vh);

    align-items: center;
    .header-container {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
        margin-top: 0 !important;
        
        .header {
            display: flex;
            justify-content: flex-start;

            
            color: #f4f4f4;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 110px;
        }
    }
    .body-container {
        grid-row: 3 / 6;
        grid-column: 2 / 14;
        margin-top:  !important;

        .body {
            display: flex;
            justify-content: flex-start;

            color: #f4f4f4;
            font-weight: 300;
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            line-height: 1.5em;
            
        }
    }
}

.projects {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 200vh;
    background-color: #F4F4F4;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(10, 15vh);
    align-items: center;

    .header-container {
        grid-row: 2 / 3;
        grid-column: 2 / 10;
        
        .header {
            display: flex;
            justify-content: flex-start;
            color: #1F2021;
            font-weight: 600;
            font-family: 'Lato', sans-serif;
            font-size: 110px;
        }
    }
    .card1 {
        grid-row: 5 / 7;
        grid-column: 2 / 6;
        width: 25vw;
        color: #1F2021;
        font-family: 'Lato', sans-serif;
        line-height: 1.5rem;
        // font-size: 30px;
    }
    .card2 {
        grid-row: 5 / 7;
        grid-column: 7 / 11;
        width: 25vw;
        color: #1F2021;
        font-family: 'Lato', sans-serif;
        line-height: 1.5rem;
        // font-size: 30px;
    }
    .card3 {
        grid-row: 5 / 7;
        grid-column: 12 / 18;
        width: 25vw;
        color: #1F2021;
        font-family: 'Lato', sans-serif;
        line-height: 1.5rem;
        // font-size: 30px;
    }
}


@media (max-width: 600px) {
    .projects{
        grid-template-columns: repeat(10, 10vw);
        grid-template-rows: repeat(15, 15vh);
        height: 300vh;
        .header-container{
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            .header {
                justify-content: flex-start;
                margin-left: 20px;
                font-weight: 600;
                font-family: 'Lato', sans-serif;
                font-size: 90px;
            }
        }
        .card1{
            grid-row: 4 / 6;
            grid-column: 2 / 58;
            margin-left: 0vh;
            width: 75vw;
        }
        .line-break {
            grid-row: 6 / 9;
            grid-column: 2 / 8;
            z-index: 10;
            width: 100%;
            margin-left: -2vh;
            margin-bottom: 5vh;
        }
        .card2 {
            grid-row: 9 / 11;
            grid-column: 2 / 8;
            width: 75vw;
        }
        .line-break2 {
            grid-row: 11 / 14;
            grid-column: 2 / 8;
            z-index: 10;
            width: 100%;
            margin-left: -2vh;
            margin-bottom: -2vh;
        }
        .card3 {
            grid-row: 14 / 16;
            grid-column: 2 / 8;
            width: 75vw;
        }
    }
}

@media (max-width: 340px) {
    
    .landing {
        .header-container {
            grid-row: 1 / 3;
            grid-column: 1 / 5;
            .header {
                margin-left: 5vh !important;
                font-size: 90px;
            }
        }
        .body-container {
            grid-row: 3 / 6;
            grid-column: 2 / 10;
            .body {
                width: 85%;
                margin-left: 5vh !important;
                line-height: 1em;
                font-size: 30px;
            }
        }
    }
    .projects {
        position: relative;

        width: 100%;
        height: 350vh;
        background-color: #F4F4F4;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(20, 5vw);
        grid-template-rows: repeat(40, 8vh);
        align-items: center;
    
        .header-container {
            grid-row: 1 / 3;
            grid-column: 2 / 5;
            margin-left: -2vh;
            
            .header {
                display: flex;
                justify-content: flex-start;
                color: #1F2021;
                margin-left: 0vh;
                font-weight: 600;
                font-family: 'Lato', sans-serif;
                font-size: 75px;
            }
        }
        .card1 {
            grid-row: 5 / 11;
            grid-column: 2 / 20;
            width: 50%;
            // width: 25vw;
            // color: #1F2021;
            // font-family: 'Lato', sans-serif;
            // line-height: 1.5rem;
            // // font-size: 30px;
        }
        .line-break {
            grid-row: 12 / 14;
            grid-column: 2 / 16;
            z-index: 10;
            width: 70%;
            margin-left: -3vh;
            margin-bottom: 8vh;
        }
        .card2 {
            grid-row: 14 / 21;
            grid-column: 2 / 20;
            width: 50%;
            // width: 25vw;
            // color: #1F2021;
            // font-family: 'Lato', sans-serif;
            // line-height: 1.5rem;
            // font-size: 30px;
        }
        .line-break2 {
            grid-row: 21 / 24;
            grid-column: 2 / 16;
            z-index: 10;
            width: 70%;
            margin-left: -3vh;
            margin-bottom: 2.5vh;
        }
        .card3 {
            grid-row: 23 / 31;
            grid-column: 2 / 20;
            width: 50%;
            // width: 25vw;
            // color: #1F2021;
            // font-family: 'Lato', sans-serif;
            // line-height: 1.5rem;
            // font-size: 30px;
        }
    }
}

@media (max-width: 440px) {
    .landing {
        .header-container {
            grid-row: 1 / 3;
            grid-column: 1 / 5;
            .header {
                margin-left: 5vh !important;
            }
        }
        .body-container {
            grid-row: 3 / 6;
            grid-column: 2 / 10;
            .body {
                width: 85%;
                margin-left: 5vh !important;
                line-height: 1em;
            }
        }
    }
}