.contacts {
    font-family: 'Lato', sans-serif;
    background-color: #1f2021;
    // display: grid;
    // grid-template-rows: repeat(2, minmax(120px, 1fr));
    align-items: center;
    .header-container {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f4f4f4;
        font-weight: 600;
        font-size: 160px;
    }
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: top;
        .name-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 10vh;
        }
        .message-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30vh;
        }
        .fakebox-header-container {
            margin: auto;
            width: 453px;
            background: #1f2021;
            .fakebox-header {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                color: #f4f4f4;
                font-weight: 600;
                font-family: 'Lato', sans-serif;
                font-size: 32px;
                width: 453px;
            }
        }
        .fakebox-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .fakebox {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 80vw;
                max-width: 453px;
                background-color: #f4f4f4;
                border-radius: 22px;
                .fakebox-input {
                    height: 44px;
                    outline: none;
                    width: 80%;
                    background-color: #f4f4f4;
                    color: #1f2021;
                    cursor: text;
                    font-weight: 600;
                    font-family: 'Lato', sans-serif;
                    font-size: 32px;
                    border-width: 0px;
                }
                .fakebox-text {
                    height: 20vh;
                    outline: none;
                    width: 80%;
                    background-color: #f4f4f4;
                    color: #1f2021;
                    cursor: text;
                    font-weight: 600;
                    font-family: 'Lato', sans-serif;
                    font-size: 32px;
                    border-width: 0px;
                }
            }
        }
        .resume-button-container {
            margin: auto;
            padding-top: 20px;
            width: 150px;
            .resume-button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                #landing-button {
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .button-content {
                        margin: auto;
                    }
                    height: 60px;
                    align-content: center;
                    color: #f4f4f4;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 32px;
                    padding: 0;
                    border-style: dotted;
                    border-radius: 3rem !important;
                    border-color: #f4f4f4;
                    transition: .5s;
                }
                #landing-button:hover {
                    cursor: pointer;
                    color: #1f2021;
                    background: #f4f4f4;
                }
            }
        }
        .line-break-container {
            margin: auto;
            width: 453px;
            padding-top: 20px;
            .line-break {
                height:  30px !important;
                width: 453px;
            }
        }
        .logo-container {
            padding-top: 20px;
            margin: auto;
            width: 453px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .githublogo {
                width: 5rem;
            }
            .linkedinlogo {
                width: 5rem;
            }
            .emaillogo {
                width: 5rem;
            }
        }

    }
    .grid-padding {
        height: 20vh;
    }
}


@media (max-width: 600px) {
    .contacts {
        height: 120vh;
        width: 100vw;
        .body-container {
            width: 100vw;
            .name-container {
                height: 12vh;
            }
            .message-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30vh;
            }
            .fakebox-header-container {
                width: 80vw;
                .fakebox-header {
                    width: 80vw !important;
                }
            }
            .resume-button-container {
                margin: auto;
                padding-top: 20px;
                width: 150px;
                .resume-button {
                    #landing-button {
                    }
                }
            }
            .line-break-container {
                width: 80vw;
                .line-break {
                    width: 80vw;
                }
            }
            .logo-container {
                width: 80vw;
                .githublogo {
                    width: 4rem;
                }
                .linkedinlogo {
                    width: 4rem;
                }
                .emaillogo {
                    width: 4rem;
                }
            }
    
        }
        .grid-padding {
            height: 20vh;
        }
    }
}

@media (max-width: 440px) {
    .contacts {
        .header-container {
            .header {
                font-size: 80px;
                margin-top: 1rem;
            }
        }
        .body-container {
            .name-container {
                height: 15vh;
            }
        }
    }
}
@media (max-width: 340px) {
    .contacts {
        .header-container {
            .header {
                font-size: 5rem;
            }
        }
        .body-container {
            .name-container {
                height: 17vh;
            }
            .message-container {
                
            }
            .fakebox-header-container {
                .fakebox-header {
                    font-size: 2rem;
                }
            }
            .resume-button-container {
                .resume-button {
                    #landing-button {
                        font-size: 22px;
                    }
                }
            }
            .logo-container {
                .githublogo {
                    width: 3rem;
                }
                .linkedinlogo {
                    width: 3rem;
                }
                .emaillogo {
                    width: 3rem;
                }
            }
    
        }
        .grid-padding {
            height: 20vh;
        }
    }

}
